.wrapper--textlead {
  color: #fff;
}

/* Cores dos textos "Setor" e "Confira"  */

.container--textoSetor {
  margin: 2rem;
  color: #000!important;
}

.container--textoConfira {
  margin-top: 2rem;
  color: #000;
}

/* Espaçamento e cor do último container com fotos */

.container--imagesDesktopBottom {
  margin: 2rem;
  color: #000;
}
