.buttonLink {
  color: white;
  background-color: #232f3e;
  border-color: #232f3e;
  border-radius: 3mm;
  max-width: fit-content;
  font-size: 0.9rem;
  margin-bottom: 10%;
}

.buttonLink:hover {
  color: #f07114;
}
.label {
  padding: 2mm;
}
