/* Configurando o seletor de quantidade em telas 1200px */
@media only screen and (min-device-width: 1200px) {
  .quantitySelectorContainer {
    position: relative;
    margin-top: 3%;
    margin-right: 255%;
  }
}
