.flexRowContent--flexrowcontentheader,
.flexRowContent--category-menu,
.flexRowContent--flexrowcontentheadermobile,
.flexRowContent--flexrowcontentfooter {
  background-color: #232f3e;
}

.flexRowContent--flexrowcontentfooter {
  background-color: #232f3e;
  justify-content: center;
}

.flexCol--flexcolcontentfooter {
  justify-content: center;
  align-items: center;
}

.flexRow {
  width: 100%;
}

.flexRow--imagesDesktop1 {
  margin-top: 3rem;
}

.flexRow--rodape1 {
  background-color: #232f3e;
  padding-left: 20vw;
}

.flexRow--rodape2 {
  padding-left: 20vw;
}

@media screen and (min-width: 1920px) {
  .flexRow--imagesDesktop1 {
    padding-left: 10vw;
    margin-right: 10vw;
  }

  .flexRow--imagesDesktopMiddle {
    padding-left: 10vw;
    margin-right: 10vw;
  }

  .flexRow--imagesDesktopBottom {
    padding-left: 10vw;
    margin-right: 10vw;
  }
}