.buttonLink {
  color: white;
  background-color: #f07114;
  border-color: #f07114;
  max-width: 100%;
  height: 2%;
  padding: 0px;
  font-size: 0.9rem;
}

.buttonLink:hover {
  color: #f07114;
  background-color: #fff;
}

.link {
  max-width: 100%;
  margin-right: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


@media screen and (max-width: 768px){
  .link {
    max-width: fit-content;
    margin-left: 1rem;
  }
  
}