/* Espaçamento do container principal da home */

@media screen and (max-width:768px) {
  .container {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Espaçamento do logo */

.logoImage {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Tamanhos do banner na página principal */

.infoCardContainer--info-card-example {
  width: 100vw !important;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .infoCardContainer {
    height: 60vh;
  }

  .infoCardTextContainer{
    width: 50%;
  }

  /*.infoCardContainer--info-card-aws-topo{
    width: 44vw!important;
  }

  .infoCardContainer--info-card-aws-final{
    width: 100%;
    height: 60vh;
    padding-top: 12rem!important;
    padding-bottom: 3rem!important;
  }*/
}

@media screen and (max-width: 768px) {
  .infoCardTextContainer {
    height: 27rem;
  }
}

.infoCardHeadline--info-card-example,
.infoCardSubhead--info-card-example {
  color: #fff;
}

/* Espaçamento interno do Título e Subtítulo do banner */

@media screen and (max-width: 768px) {

  .infoCardHeadline--info-card-example,
  .infoCardSubhead--info-card-example {
    padding: 1rem;
    margin-top: 0.5rem;
  }

  .infoCardContainer--info-card-aws-topo{
    height: 40vh;
    width: 50vw;
  }

  .infoCardTextContainer--info-card-aws-topo{
    width: 35vw;
    margin-left: 0;
  }
}

.infoCardCallActionText--info-card-example {
  color: #527fff;
}

/*.searchBarInnerContainer--searchheaderdesktop {
  width: 700px;
}*/

.searchBarContainer :global(.vtex-input__suffix) {
  background-color: #232f3e;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  background-color: #232f3e;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border-top: 0cm;
  border-left: 0cm;
  border-right: 0cm;
  border-bottom-left-radius: 0cm;
  border-bottom-right-radius: 0cm;
}

.searchBarIcon {
  color: white;
}

/* Configurações do botão presente no banner */

.infoCardCallActionContainer :global(.vtex-button) {
  background-color: black;
  color: white;
  border: none;
  border-radius: 3mm;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .infoCardCallActionContainer :global(.vtex-button) {
    margin: 1.5rem;
  }

  /*.infoCardTextContainer--info-card-aws-topo{
    height: fit-content;
    width: 42vw!important;
    padding-top: 3rem;
    margin:0 1.75rem  ;
  }

  .infoCardTextContainer--info-card-aws-final{
    width: 52vw!important;
    height: 80vh;
  }*/

  .infoCardCallActionContainer--info-card-aws-final{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.imageElement--imagestackpromocaomobile {
  object-fit: cover;
  border-radius: 3mm;
}

.searchBarInnerContainer--searchheadermobile {
  width: 100%;
}

/* Cores do preço de produtos */

.currencyContainer {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.currencyCode {
  color: #000;
}

.currencyLiteral {
  color: #000;
}

.currencyInteger {
  color: #000;
}

.currencyDecimal {
  color: #000;
}

.currencyFraction {
  color: #000;
}

/* Espaçamento da logo no mobile */
.logoImage--logomobile {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.logoContainer--logomobile{
  padding-left: 0;
  padding-right: 1rem;
}
/* Cores dos textos e background da página de Sobre */

.infoCardHeadline--info-card-aws-topo,.infoCardSubhead--info-card-aws-topo, 
.infoCardHeadline--info-card-aws-final, .infoCardSubhead--info-card-aws-final {
  color: white;
}
.infoCardContainer--info-card-aws-topo,
.infoCardContainer--info-card-aws-final{
  /*padding-top: 2.5rem;
  padding-bottom: 2.5rem;*/
  background-color: #1e2832;
}

/*.infoCardTextContainer--info-card-aws-topo{
  width: 60%;
}*/

/* Tirando borda do infocard sobre aws */
.infoCardContainer--info-card-aws-topo,
.infoCardContainer--info-card-aws-final{
  border: none;
}

@media (min-width: 992px) and (max-width: 1199.98px){
  .infoCardContainer--info-card-aws-topo{
    height: 40vh;
  }

  .infoCardContainer--info-card-aws-final{
    height: 40vh;
  }
  
  .infoCardTextContainer--info-card-aws-topo{
    width: 70%;
  }
}

@media (min-width: 1200px){
  .infoCardContainer--info-card-aws-final{
    height: 40vh;
  }

  .infoCardTextContainer--info-card-aws-final{
    width: 47vw;
  }

  .infoCardTextContainer--info-card-aws-topo{
    height: 50vh;
  }

  .infoCardTextContainer--info-card-aws-topo{
    width: 75%;
  }
}

@media (max-width: 575.98px){
  .infoCardTextContainer--info-card-aws-topo{
    width: 60vw;
  }

  .infoCardImage{
    display: none;
  }
}