/* Mudando cor dos texto em lead */
.wrapper--textlead {
  color: #fff;
}

/* Cores dos textos "Setor" e "Confira" */

.container--textoSetor {
  margin: 2rem;
  color: #000!important;
}

.container--textoConfira {
  margin-top: 2rem;
  color: #000;
}

/* Mudando Cores e Tamanhos dos textos da fileira vantagens */
.container--title-vantagens{
  background-color: #1e2832;
  color: #fff;
  border:none;
}

.container--vantagens{
  border: none;
  color: #fff;
  padding: 0 .5rem;
  padding-bottom: 1rem;
}
/* Mudando Cores e backgroundo dos textos da fileira parceiros */
.container--title-parceiros{
  background-color: #1e2832;
  color: #fff;
}

/* Espaçamento e cor do último container com fotos */

.container--imagesDesktopBottom {
  margin: 2rem;
  color: #000;
}
