.flexRowContent--flexrowcontentheader,
.flexRowContent--flexrowcontentheadermobile,
.flexRowContent--flexrowcontentfooter {
  background-color: #232f3e;
}
.flexRowContent--flexrowcontentfooter {
  background-color: #232f3e;
  justify-content: center;
}
.flexCol--flexcolcontentfooter {
  justify-content: center;
  align-items: center;
}

.flexRow {
  width: 100%;
}
