/* Mudando os backgrounds dos conteúdos das fileiras */
.flexRowContent--flexrowcontentheader,
.flexRowContent--category-menu,
.flexRowContent--flexrowcontentheadermobile,
.flexRowContent--flexrowcontentfooter{
  background-color: #232f3e;
}

.flexRowContent--flexrowcontentfooter {
  background-color: #232f3e;
  justify-content: center;
}

.flexCol--flexcolcontentfooter {
  justify-content: center;
  align-items: center;
}
/* Fixando uma largura na fileira */
.flexRow {
  width: 100%;
}
/* Inserindo espaçamento no fileira */
.flexRow--imagesDesktop1 {
  margin-top: 3rem;
}

/* Configurando layout da fileira vantagens aws  */
.flexRow--vantagens{
  border: none;
  background-color: #1e2832;
}

.flexRow--vantagens .stretchChildrenWidth {
  align-items: center;
}

.flexRow--vantagens .flexCol {
  align-items: center;
}

.flexRow--sobre-aws{
  align-items: space-around;
}

.flexRow--sobre-aws{
  background-color: #1e2832;
  padding:  2rem ;
}

.flexCol--video-aws{
  background-color: #1e2832!important;
}

/* Cor e espaçamento dos rodapés desktop e móvel */

.flexRow--rodapeDesk1 {
  background-color: #232f3e;
  padding-left: 16vw;
  /*margin-top: 2rem;*/
}

.flexRow--rodapeDesk2 {
  padding-left: 16vw;
}

.flexRow--rodapeMob1 {
  background-color: #232f3e;
  padding: 2rem;
  color: white !important;
}

/* Espaçamento da coluna direita da página de produto */

@media screen and (min-width: 768px) {
  .flexCol--colDireitaProduto {
    margin-right: 1rem;
  }

  .flexRow--sobre-aws{
    height: fit-content;
  }
}

@media screen and (max-width: 768px){
  .flexRow--flexRow--sobre-aws{
      padding: 1rem;
  }

  .flexRow--sobre-aws{
    height: 70vh;
  }
}

@media screen and (max-width: 1200px) {
  .flexCol--colDireitaProduto {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1920px) {
  .flexCol--colEsquerdaProduto {
    margin-left: 15vw;
    margin-top: 3rem;
    margin-right: 5rem;
  }

  .flexCol--colDireitaProduto {
    margin-right: 0;
    padding-left: 10rem;
  }
}

/* Espaçamento do componente flex row em telas 1920x1080 */

@media screen and (min-width: 1920px) {
  .flexRow--imagesDesktop1 {
    padding-left: 10vw;
    margin-right: 10vw;
  }

  .flexRow--imagesDesktopMiddle {
    padding-left: 10vw;
    margin-right: 10vw;
  }

  .flexRow--imagesDesktopBottom {
    padding-left: 10vw;
    margin-right: 10vw;
  }
}