/* Ajustanto configurações do minicart */
.minicartContainer--minicartheadermobile {
  width: 38px;
  height: 34px;
  justify-content: center;
  align-items: center;
}
/* Mudando a cor do ícone do minicart */
.cartIcon {
  color: #fff;
}
